@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --logo-font: 'Rock Salt', sans-serif;
    --main-font: 'Source Sans 3', sans-serif;
    --highlights: #ffffff;
    --background : #eeeeee;
    --light-grey: #d9d9d9;
    --medium-grey:#959595;
    --dark-grey:#333333;
    --black:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    height: 100vh;
    background-color: var(--background);
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.header {
    width: 100%;
    background-color: var(--light-grey);
    color: var(--black);
    padding: 3px 7px;
    padding-left: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    animation: slide-in 2s ease-out;
}

.logo {
    font-family: var(--logo-font);
    font-size: 50px;
    font-weight: 500;
    color: var(--black);
    
    animation: slide-in 0.1s ease-out;
}

.container {
    display: flex;
    justify-content: flex-start; /* Move o conteúdo para a esquerda */
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-left: 100px; /* Espaço à esquerda do container */
}

.form-box {
    background: var(--highlights);
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    width: 50%; 
    min-width: 500px; 
    margin-left: 0px; 
}



.form-box h2 {
    color: var(--black);
    font-size: 35px;
    margin-bottom: 40px;
}

.form-box p {
    color: var(--medium-grey);
    margin-top: -40px;
    font-size: 18px;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid var(--medium-grey);
    border-radius: 5px;
    background: var(--highlights);
}

button {
    width: 50%;
    padding: 12px;
    background: var(--dark-grey);
    border: none;
    border-radius: 12px;
    margin-top: 20px;
    color: var(--highlights);
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background: var(--black);
}

.back-link {
    display: block;
    margin-top: 10px;
    color: var(--dark-grey);
    text-decoration: none;
}
.back-link:hover {
    color: var(--black);
}

.rotating-image {
    position: fixed; 
    top: 50%; 
    right: -300px;
    transform: translateY(-50%); 
    width: 900px; 
    height: auto;
    animation: rotate 200s linear infinite; 
}

/* Animação de rotação */
@keyframes rotate {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.notification {
    position: fixed;
    bottom: -50px; 
    left: 50%;
    transform: translateX(-50%);
    background: var(--dark-grey);
    color: var(--highlights);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    transition: bottom 0.5s ease-out, opacity 0.5s ease-out;
}

/* Classe JavaScript */
.notification.show {
    bottom: 20px; 
    opacity: 1;
}

