@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --logo-font: 'Rock Salt', sans-serif;
    --main-font: 'Source Sans 3', sans-serif;
    --highlights: #ffffff;
    --background : #eeeeee;
    --light-grey: #d9d9d9;
    --medium-grey:#959595;
    --dark-grey:#333333;
    --black:#000000;

}

body {
    background-color:var(--background);
}

.logo{
    font-family: var(--logo-font);
    padding-left: -50px;
    margin-top: 20px;
    color: var(--black);
}

.container {
    max-width: auto;
    margin: 20px auto;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--highlights);
    color: var(--black);
    padding: 10px 20px;
    border-radius: 8px;
    padding-right: 300px;
}

.menu nav {
    display: flex;
    gap: 50px; /* Aumenta o espaçamento entre os itens */
}

.menu nav a {
    color: var(--black);
    font-family: var(--main-font);
    font-size: 23px;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px; /* Espaço para o efeito deslizante */
}

/* Criando o efeito de linha deslizante */
.menu nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 3px;
    background-color: var(--black); 
    transition: width 0.4s ease-in-out;
}

.menu nav a:hover::after {
    width: 100%; 
}

.search-bar, .insert-bar {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.search-bar input, .insert-bar input {
    flex: 1;
    padding: 10px;
    border: var(--medium-grey);
    border-radius: 8px;
}

.search-bar button, .insert-bar button {
    font-family: var(--main-font);
    padding: 15px 20px; 
    font-size: 1.1rem; 
    background: var(--dark-grey);
    color: var(--highlights);
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    width: 150px; 
}

button:hover{
    background-color: var(--black);
}




